# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
*.egg-info/

# Jupyter
**/.ipynb_checkpoints/

# Editor
**/.vscode/
*.code-workspace

# OS
**/.DS_Store
**/Thumbs.db

# Data
**/data/raw/*
**/data/interim/*
**/data/processed/*
!**/data/raw/.gitkeep
!**/data/interim/.gitkeep
!**/data/processed/.gitkeep
!**/mini-manual-survey/data/raw/mini-manual-survey-results.csv
!**/mini-manual-survey/data/interim/mini-manual-survey-interim.csv
!**/CDC-data-analysis/data/raw/CDC-data.csv
!**/CDC-data-analysis/data/raw/CA-cost-living-data.csv
# Results
**/results/figures/*
!**/results/figures/.gitkeep
!**/results/figures/boxplot_refreshed_by_sleep_int.png
!**/results/figures/boxplot_sleep_by_refreshed.png

# Models
**/models/*
!**/models/.gitkeep